// CONSTANTS
$grey: #DDD;
$aboutBG: hsl(2.56, 0.76%, 94.01%); 
$formBG: hsl(5.13, 2.53%, 86.01%);
$graphColor: #655d58;

// RESETS
* { margin: 0; padding: 0; } 
a { text-decoration: underline; }
button { background: none; border: none; }

// ALL FONTS GO HERE - DO NOT MIX INTO OTHER ELEMENTS
body, input, button {  font-family: 'Rock Salt', cursive; }
#aboutRow, #graph { 
  font-family: 'Patrick Hand SC', cursive;
  font-size: 1.5em;
}

.warning { color: red; background-color: #fdd; }
/******************************************************************************/
/*********************************** HEADER ***********************************/
/******************************************************************************/

#pageHeader {
  background-color: black;
  color: white;

  #logo { 
    position: absolute;
    top: 5px;
    left: 5px;
    font-size: 0.50em; 
    border: 1px solid white;
    border-radius: 5px;
  }

  a:link, 
  a:visited {
    color: white;
  }

  h1 { 
    font-size: 2.5em; 
    text-align: center; 
  }
}

/******************************************************************************/
/***********************************   NAV  ***********************************/
/******************************************************************************/

nav {
  text-align: center;

  a {
    font-size: 1em;
  }

  a:link, 
  a:visited {
    color: black;
  }
}

/******************************************************************************/
/********************************* ABOUT ROW **********************************/
/******************************************************************************/
#aboutRow {
  display: none;
  padding: 0 20px 20px 20px;
  margin-bottom: 20px;
  background-color: $aboutBG;

  h2 { text-align: center; }
  p { 
    margin-bottom: 10px; 
    text-align: left; 
  }
  li { 
    list-style-type: none;
    padding-left: 20px;
  }
}

/******************************************************************************/
/********************************** MAIN ROW **********************************/
/******************************************************************************/

#mainRow {
  position: relative;
  display: block;
  width: 1020px;
  height: 480px;
  margin: 0 auto;
  border-radius: 20px;
  overflow: scroll;
}

/******************************************************************************/
/********************************* FORM COLUMN ********************************/
/******************************************************************************/

#formColumn {
  position: absolute;
  left: 0px;            
  width: 500px;
  height: 400px;
  overflow: scroll;
  background-color: $formBG;
  padding: 40px;
}

#form {
  width: 500px;
  height: 400px;

  h2 { 
    display: inline-block; 
    font-size: 1em;
  }

  .leftColumnWide {
    width: 240px;
  }
  .leftColumnNarrow {
    width: 200px;
  }
  .middleColumn,
  .rightColumn {
    width: 110px;
  }

  .pointsRatio {
    display: none;
  }

//////////////
// FORM TOP
//////////////
  #formTop {
    background-color: white;
    border-radius: 20px 20px 0 0;
    padding: 0 10px;
  }

  #formMiddle {
    height: 320px;
    overflow: scroll;
    background-color: white;
    padding: 0 10px;

    .deleteButton { 
      display: none;
      width: 20px;
      height: 20px;
      font-size: 10px;
      text-align: center; 
      color: white;
      background-color: red;
      border-radius: 50%;
    }

    #weightSumRow { 
      font-weight: bold; 
    }

    #weightSum { 
      padding-left: 10px;
      padding-right: -10px;
    }
  } // closes #formMiddle don't delete

  #formBottom {
    display: table;
    width: 500px;
    height: 39px;
    background-color: white;
    border-top: 1px solid black;
    border-radius: 0 0 20px 20px;
    overflow: hidden;

    .row { display: table-row; }

    button {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      font-size: 1.5em;
      line-height: 39px;
    }

    #normalUI {
      button { width: 250px; }
      #addButton { color: green; }
      #editButton { color: red; }
    }

    #editUI {
      display: none;
      button { width: 500px; }
      #doneButton { color: red; }
    }

  }

}

/******************************************************************************/
/********************************* GRAPH COLUMN *******************************/
/******************************************************************************/

#graphColumn {
  position: absolute;
  left: 580px;            
  width: 400px;
  height: 400px;
  overflow: scroll;
  background-color: $formBG;
  padding: 40px 40px 40px 0; // SHARES BORDER WITH FORM
}

#graph {
  position: relative;
  width: 400px;
  height: 400px;
  border: 4px solid black; 
  background-color: white;
}

#graph div.bar {
  position: absolute;
  width: 47px;
  height: 49px;
  left: 0px;
  bottom: 0px;
  text-align: center;
  background: $graphColor;
  color: white;
  border-top: 1px solid white;
  border-right: 1px solid white;
  overflow: scroll;
}

#gradeShadeSays {
  position: absolute;
  width: 100%;
  left: 0px;
  bottom: 0px;
  background-color: hsla(28, 10%, 50%, 0.8);
  color: white;
  font-size: 1.62em;
  text-align: center;
  z-index: 10;
}

